{% extends 'budget/base.html' %}
{% block content %}

<body>
    <div class="container">
        <section class="row mt-5">

            <div class="col 14">
                <div class="card bg-secondary">
                    <h4>Total Budget</h4>
                    <h1>Rs {{ project.budget}} </h1>
                </div>
            </div>

            <div class="col 14">
                <div class="card bg-secondary">
                    <h4>Budget Left</h4>
                    <h1>Rs1600 </h1>
                </div>
            </div>

            <div class="col 14">
                <div class="card bg-secondary">
                    <h4>Total Transactions</h4>
                    <h1>Rs 2400 </h1>
                </div>
            </div>


        </section>


        <section>
            <div class="row">
                <div class="d-grid mt-4 gap-2 d-sm-flex justify-content-sm-right">
                    <button type="button" class="btn btn-success btn-lg px-4 me-sm-3 fw-bold " id="open-popup"
                        data-toggle="modal" data-target="#exampleModal">Add Expense</button>
                    </button>
                </div>
            </div>

            <ul class="list-unstyled">

                {% for expense in expense_list %}
                <li>
                    <div class="card bg-light  mt-4 fw-bold">
                        <div class="row">
                            <div class="col ">
                                <span class="title">{{ expense.title }}</span>
                            </div>

                            <div class="col ">
                                <span class="title">Rs{{expense.amount}}</span>
                            </div>

                            <div class="col ">
                                <span class="title">{{expense.category.name}}</span>
                            </div>
                            <div class="col">
                                <a href="">
                                    <i class="bi bi-file-excel btn-outline-danger "></i> </a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>




    <!-- popup form -->
    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Expense</h5>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                                 {% csrf_token %}
                                <!-- {{ form }} -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text" id="title">Title</span>
                                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="amount">Amount</span>
                                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                  </div>
                                  <div class="input-group mb-3">
                                    <span class="input-group-text" id="category">Category</span>
                                    <input type="text" class="form-control"  aria-describedby="basic-addon1">
                                  </div>

                        <button type="submit" class="btn btn-primary">Add</button>

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- for popup form -->
    <script type="text/javascript">
        const myModal = new bootstrap.Modal('#exampleModal');
        window.addEventListener('click', () => {
            myModal.show();
        });

    </script>

    <!-- <script>
document.getElementById('open-popup').addEventListener('onclick',function(){
    document.getElementById('popup').style.display='block';
});

</script> -->
</body>
{% endblock %}