{% extends 'budget/base.html' %}
{% load static %}
{% block content %}
    <!-- nav bar -->
<nav class="navbar bg-dark">
    <div class="container-fluid w-100">
      <a class="navbar-brand text-white" href="/">Budget App</a>
    </div>
  </nav>
    <!-- main content box-hero -->
    <div class="container">
<div class="project-wrapper center  mt-5">
    <div class="bg-dark text-secondary  px-4 py-5 text-center">
        <div class="py-5">
          <h1 class="display-5 fw-bold text-white">Sorry, you don't have any project yet. </h1>
          <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
              <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Add project</button>
            </div>
          </div>
        </div>
      </div>
</div>
</div>


{% endblock %}